@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Offside&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010101;
    --foreground: #ededed;
  }
}

*{
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: "SUSE Mono", sans-serif;
}

.slider::-webkit-scrollbar {
    display: none;
  }


#home{
  background-image: url("/venom1.jpg");
  background-repeat: no-repeat;
  background-position:center;
}


.font-suse-mono{
   font-family: "SUSE Mono", sans-serif;
}

.font-offside{
   font-family: "Offside", sans-serif;
}